@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    h1, h2, h3, h4, h5 {
        @apply dark:text-white text-black font-bold
    }

    h1 {
        @apply text-2xl
    }

    h2 {
        @apply text-xl
    }

    h3 {
        @apply text-lg
    }

    label {
        @apply text-accent-dark
    }

    input {
        @apply w-full h-12 dark:border-accent-dark border-accent-light border-2 rounded-md
        bg-transparent outline-0 focus:shadow-light dark:focus:shadow-dark shadow-md transition-all duration-150
        ease-in-out px-1 text-secondary-light
    }

    textarea {
        @apply w-full h-20 dark:border-accent-dark border-accent-light border-2 rounded-md
        bg-transparent resize-none outline-0 focus:shadow-light dark:focus:shadow-dark shadow-md transition-all
        duration-150 ease-in-out px-1 text-secondary-light
    }

    form {
        @apply dark:bg-formColor-light bg-formColor-dark rounded-md px-8 py-4
    }

    .container {
        @apply h-full
    }

    .button {
        @apply px-8 py-4 bg-primary rounded-md cursor-pointer text-lg text-white
    }

    .outlined-button {
        @apply border-2 dark:border-secondary-light border-secondary-light
    }

    .navigate-button {
        @apply flex place-content-center border-2 border-secondary-light dark:border-secondary-dark
        rounded-md p-2
    }

    .navigate-button:not(:disabled) {
        @apply hover:shadow-md shadow-dark dark:shadow-light transition-all duration-150 ease-in-out
    }
}

.active-gradient {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(5,0,41,1) 14%, rgba(0,231,228,1) 91%);
}

button, button:before, button:after {
    @apply cursor-pointer
}

.rainbow-button {
    @apply border-none outline-0 relative z-0
}

.rainbow-button:before {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(
            124deg,
            #ff2400,
            #e81d1d,
            #e8b71d,
            #e3e81d,
            #1de840,
            #1ddde8,
            #2b1de8,
            #dd00f3,
            #dd00f3
    );
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    animation: move 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: inherit;
}

.rainbow-button:hover:before, .rainbow-button.active:before {
    opacity: 1;
}

.rainbow-button:after {
    z-index: -1;
    content: "";
    position: absolute;
    background: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: inherit;
}

.menu-link {
    transition: background-image 1.5s ease-in-out;
    outline: hidden;
}

.menu-link:hover {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: slideBg 5s linear infinite;
    transition: background-image 1.5s ease-in-out;
    border-radius: inherit;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes slideBg {
    to {
        background-position:20vw;
    }
}
